body 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  height:      100%
  padding-top: 40px

#ec2-instances, #route53-records
  display:     inline-block

.component
  display:       inline-block
  padding-top:   10px
  max-height:   292px
  overflow-y:   scroll

  table
    font-size:   10pt
    line-height:  5px
    margin-top:   0
    
    th
      &:hover
        cursor: pointer

