body 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  height:      100%
  padding-top: 40px

#ec2
  display:     inline-block

#route53
  display:     inline-block

#cloudformation-stacks
  display:     inline-block

.component
  padding-top:   10px
  max-height:   292px
  overflow-y:   scroll

  table
    font-size:   10pt
    line-height:  5px
    margin-top:   0

    td, th
      display: table-cell
    
    th
      &:hover
        cursor: pointer

    tr
      display:  table-row

// fixed table header style
// gleefully copied from: http://salzerdesign.com/test/fixedTable.html
  
.fixed-table-container
  height:   300px
  position: relative

.fixed-table-container-inner
  overflow-x: hidden
  overflow-y: auto
  height:     100%

.header-background
  background-color: #d5ecff
  position:   absolute
  top:        0
  right:      0
  left:       0
  height:     30px
  
.th-inner
  position: absolute
  top:      0
  line-height: 30px
